body {
	background-color: #eaeaea;
	margin:0px;
	padding:0px;
}

.workwindow {
	width: 980px;
	border:solid 1px #000;
	margin:0px;
	padding:0px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.head {
	height: 30px;
	width: 980px;
	float: left;	
	margin-bottom: 7px;
}

.workwindow ul {
	list-style: none;
	padding: 0px;
}

.workwindow ul a{
	text-decoration: none;
	color: #000;
	float: left;
	padding-left: 25px;
	font-size: 20px;

}

.workwindow ul a:hover{
	text-decoration: underline;
	color: #000;
	float: left;
	padding-left: 25px;
	font-size: 20px;
}

.menu {
	width: 730px;
	line-height: 40px;
	margin-left: 100px;
	float: left;
}

.box {
	width: 430px;	
	float: left;
	padding: 5px;
	line-height: 30px;
	font-size: 18px;
}