body {
	margin: 0px;
	padding: 0px;
	opacity: 10%;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.FirstForm {
	margin-left: 530px;
	margin-top: 50px;	
	width: 350px;
	background-color: #26292B;
	border-radius: 10px;
	float: left;
}

.inf {
	float: left;
	width: 300px;
	margin-left: 25px;
}

.inf a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
.inf a:hover{
	color: #eaeaea;
	font-size: 18px;
	text-decoration: underline;
}

.about {
	float: left;
	margin-left: 60px;
	margin-top: 7px;
}

.FirstForm h2 {
	color: #fff;
	font-size: 30px;
	margin-top: 15px;
	float: left;
	padding-left: 55px;
}

.iform {
	height: 30px;
	width: 296px;
	font-size: 15px;
	margin-top: 5px;
	float: left;
}

.iformb {
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-top: 5px;
	float: left;
}
